# Convex
# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=
EXPO_PUBLIC_CONVEX_URL=

# OpenAI
OPENAI_API_KEY=fgh
# Clerk
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_hjk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_kle
CLERK_SECRET_KEY=clerk